*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: 111111;
  width: 100%;
  height: 100vh;
  display: flex;
}

.inside-2 {
  background-color: #070707;
  height: 100%;
  width: 50%;
  position: relative;
}
.inside-1 {
  background-color: #111111;
  height: 100%;
  width: 50%;
  position: relative;
}
.inside-1::after,
.inside-1::before {
  content: '';
  background-color: hsla(147, 65%, 32%, 10%);
  position: absolute;
  width: 20vh;
  left: -12vh;
  height: 100%;
  transform: skewX(-6deg);
  overflow: hidden;
}

.inside-2::after,
.inside-2::before {
  content: '';
  background-color: hsla(147, 65%, 32%, 10%);
  position: absolute;
  /* width: clamp(3rem, 3vw, 5rem); */
  width: 20vh;
  right: -12vh;
  height: 100%;
  transform: skewX(-6deg);
  overflow: hidden;
  z-index: 1;
}

.top {
  height: 500px;
  width: 500px;
  background-color: hsla(147, 65%, 32%, 50%);
  position: absolute;
  top: 0%;
  left: 0;
  /* z-index: 2; */
}
